img {
    max-width: 100%;
}
html, body {
    height:100%;
    margin: 0;
    padding: 0;
    background:  black;
}
.post_title {
    font-size: 1.5em;
}

#nav { 
    background-color:  snow;
    text-align: center;
    /* padding: 20px; */
    height: 40px;
    border-bottom: 2px solid khaki;
    font-weight: 700;  
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    font-size: 0.9em;
}
#nav a {
    color:  black;
    display: block;
    height: 100%;
    width: 100%;
}
#nav a:hover {
    text-decoration: none;
}
#nav ul {
    float: left;
    height: 100%;
}
#nav li {
    float: left;
    height: 100%;
    min-height: 100%;
    line-height: 40px;
    padding: 0 10px;
}
#nav li:hover {
    background: #FCEFA1;
}
#nav li.active {
    background:  khaki ;
}
#footer {
    clear: both;
    height:50px; 
    background:  white;
    text-align: center;
    color: black;
    padding-top: 20px;
    font-size: smaller;
    margin-top: 20px;
    border-top: 2px solid #FCEFA1;;
}
#nav ul, #posts ul, #sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: maroon;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: maroon;
}
body {
    font-family: Courier-new, serif;
}
hr {
    border: none;
    height: 1px;
    background: lightgray;
}
.time {
    font-style: italic;
}
.comments_count {
    float: right;
    color: grey;
    font-style: italic;
    font-size: 0.8em;
    vertical-align: bottom;
}
#pagination {
    margin: 10px;
    float: right;
}
#pagination ul {
    list-style: none;
}
#pagination li {
    display: inline;
}
#content {
    width: 980px;
    margin: auto;
    padding: 0 20px;
    min-height: 100%;
    overflow: hidden;
}
.page-buffer {
    height: 50px;
}
#wrapper {
    margin-bottom: -50px;
    min-height: 100%;
    /*
    background: cornsilk;
    */
    background: white;
    overflow: hidden;               
}
input, select {
    margin: 5px;
}
.yashare-auto-init {
    float: right;
}
#image {
    height: 400px;
}
#feedback.error {
    background:   lightsalmon;
    border: 1px solid crimson;
}
#feedback {
    background:  lightgreen;
    border: 1px solid forestgreen;
    border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    font-size: smaller;
    font-weight: bold;
}
.closeButton {
    float: right;
    text-align: center;
    padding: 3px 7px;
    background:  transparent;
    border-radius: 10px;
    color:  darkgreen;
    cursor: pointer;
}

.error .closeButton {
    background: transparent;
    color: brown;
}
.status {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 3px;
    background:    peachpuff;
    font-size: 9pt;
    font-weight: 700;
    color: red;
}
.status.published {
    background:  #ccffcc;
    color: green;
}
.actions {
    font-size: 10pt;
    font-weight: 600;
}
.bold {
    font-weight: bold;
}
.reference-block {
    padding: 10px;
    border: 1px solid #FCEFA1;
    border-top: none;
    margin: 0 0 15px 0;
    border-radius: 0 0 5px 5px;
    background: white;
}
.wide {
    background: #FBF9EE;
    color: black;
    border: 1px solid #FCEFA1;
    padding: 5px;
    margin: 0;
    cursor: pointer;
}
.triangle {
    width: 0;
    height:0;
}
.triangle.small {
    border: 5px solid transparent;
    border-top: 5px solid #CD5C5C;
    margin: 0 0 -1px 3px;
    display: inline-block;
}
.triangle.small.closed {
    border: 5px solid transparent;
    border-left: 5px solid #CD5C5C; 
}
.tip {
    font-size: smaller;
    width: 80px;
    color: white;
    z-index: 10;
    opacity: 0.7;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
}
.tag_num {
    font-weight: 900;
}
.triangle.point {
    display: inline-block;
    border: 10px solid transparent; 
    border-bottom: 10px solid black;
    margin-bottom: -5px;
}
.transparent {
    background: transparent;
    padding: 0;
}
.black {
    background:  black;
    padding: 5px;
    border-radius: 5px;
}
.transparent, .black {
    margin: 0;
}
.comment_brief {
    /* background:   #FBF9EE; */
    background: #FFE;
    border: 1px solid #FCEFA1;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}
.name {
    font-size: smaller;
    font-weight: 600;
}
.body {
    margin-left: 20px;
    border: 1px dashed gray;
    padding: 10px;
    background: white;
}
#pagination a {
    font-size: smaller;
    display: inline-block;
    padding: 1px 5px;
    border: 1px solid maroon;
    background:  white;
}
.center td, th {
    border-right: 2px solid white;
    padding: 5px;
}
.center td:last-child, .center th:last-child {
    border-right: none;
}
.center table {
    border-collapse: collapse;
    font-size: smaller;
    cellpadding: 0.5;
    float: right;
    table-layout:fixed;
    background: white;
}
.center th {
    background:  #FCEFA1;

}
.center form {
    margin: 10px;
}

.center tr:nth-child(2n+1) {
    background: #FCEFA1;
}

.center tr:nth-child(2n) {
    background: #FFE;
}

/*
.center {
    /*width: 800px;
    margin: auto;
} */
.center th+th {
    width: 40px;
}
.center th:first-child {
    width: 400px;
}
.center th:nth-child(2) {
    width: 200px;
}
.center th:last-child {
    width: 100px;
}
.center td+td {
    text-align: center;
}
.center label {
    width: 80px;
    display: inline-block;
}
table .icon {
    width: 12px;
    height: 12px;
}
table .icon {
    margin: 0 5px;
}
.comments_count img {
   width: 10px;
   height: 10px;
}
.comments_count a {
    color: gray;
    text-decoration: none;
}
.comments_count a:hover {
    text-decoration: underline;
}
.icon {
    width: 14px;
    height: 14px;
}
.comment_brief .icon {
    width: 10px;
    height: 10px;
}
.post_info {
    font-size: 10pt;
    color: gray;
}
.post_info {
    margin-top: -15px;
}
ul .post_info {
    margin-top: 0px;
}
a[name="scrollhere"] {
    cursor:default;
    color:black;
}
a[name="scrollhere"]:hover {
    text-decoration: none;
}
