AddDefaultCharset utf-8

AddType application/x-httpd-php5 .html .htm .twig .html.twig

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]