
<h5 class="wide">Памятка<div class="triangle small"></div></h5>
<div class="reference-block">
    <p> Тэг для вставки видео: <span class="bold">{{ videoTag }}</span></p>
    <p>Тэг для обрезания записи: <span class="bold">{{ cutTag }}</span></p>
    <p>О языке разметки: <ul>
        <li>
            <a href="http://ru.wikipedia.org/wiki/Markdown">Cтатья на Википедии</a>
        </li>
        <li>
            <a href="https://help.github.com/articles/markdown-basics">Markdown Basics</a>
        </li>
        <li>
        <a href="http://daringfireball.net/projects/markdown/syntax">Markdown: Syntax</a>
        </li>
    </ul>
    </p>
    <p>
        Парсер, который я использовал, рассчитан на немного расширенный вариант Markdown'а - т.н. <span class="bold">GitHub Flavored Markdown.</span>
    Он используется на GitHub и немного отличается от базового, но только немного.
    Так что возможно, ты и не заметишь разницу, но если что - посмотри различия <a href="https://help.github.com/articles/github-flavored-markdown">здесь</a>,
    может быть дело в этом.
    </p>
</div>