{% extends "main.html.twig" %}

{% block javascript %}
    {{ parent() }}
<script type="text/javascript" src="/javascript/add_edit.js"></script>
{% endblock %}

{% block content %}
<form method="POST" action="/admin/store" enctype="multipart/form-data">
    {% import 'add_post.html.twig' as form %}
    {# TODO need to pass cut tag somehow #}
    {% set body = post.begining ~ "#cut#" ~ post.ending %}
    <input type="hidden" name="id" value="{{ post.id }}">
    {% set archiveRequired = 1 %}
    {{ form.post(categories, post.title, body, post.tags|join(', '), post.status, post.category, post.video, archiveRequired) }}
</form>
{% endblock %}
