{% extends "main.html.twig" %}

{% block javascript %}
    {{ parent() }}
<script type="text/javascript" src="/javascript/add_edit.js"></script>
<script type="text/javascript" src="/javascript/tags_autocomplete.js"></script>
{% endblock %}

{% block content %}
{% include 'admin-ref.html.twig' %}
<form method="POST" action="/admin/store" enctype="multipart/form-data">
    {% import 'add_post.html.twig' as form %}
    {# TODO need to pass cut tag somehow #}
    {# set body = post.begining ~ "#cut#" ~ post.ending #}
    <input type="hidden" name="id" value="{{ id }}">
    {% set archiveRequired = 1 %}
    {# form.post(categories, post.title, post.video, body, post.tags|join(', '), post.status, post.category, archiveRequired) #}
    {{ form.post(_context) }}
</form>
{% endblock %}
