{% extends "main.html.twig" %}

{% block styles %}
<style type="text/css">
                    label {
        width: 80px;
        display: inline-block;
    }
    input {
        margin: 5px;
    }
    #footer {
        position: absolute !important;
    }
    </style>
    {{ parent(styles) }}
 {% endblock %}
{% block content %}
<form id="login_form" method="POST" action="/index/auth">
          <label for="name">Логин</label>
          <input type="text" name='name'></input><br />
          <label for="password">Пароль</label>
          <input type="password" name='password'></input><br />
          <input type="submit" value='Войти'></input>
</form>
{% endblock %}