{% if user is defined %}
  {% set controller = 'admin' %}
{% else %}
  {% set controller = 'index' %}
{% endif %}
<!DOCTYPE html>
<html>
    <head>
        <title>
{% block title title|default('Привет!') %}
- Алёнин блог
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        {% block styles %}
        <style type="text/css">
            #nav li {
                display: inline;
            }
        </style>
        {% endblock %}
    </head>
    <body>
        <div id="nav">
                <ul style="list-style: none">
                    <li><a href="{{ "/" ~ controller }}">Все записи</a></li> | 
                    {% if user is defined %}
                        <li><a href="/admin/add">Добавить запись</a></li> | 
                        <li><a href="/admin/manage">Управление записями</a></li> | 
                        <li><a href="/admin/logout">Выход</a></li>
                    {% else %}
                        <li><a href="/index/login">Вход</a></li>
                    {% endif %}
                </ul>
        </div>
        <div id="content">
            {% if user is not defined %}
            Приветствую вас в своём крутейшем бложике!!!
            {% endif %}
            
            <h2>{{ block('title') }}</h2>
            
            {% if feedback is defined %}
                {{ feedback }} <br />
            {% endif %}
                
            {% block content %}
            {% endblock %}
        </div>
        <div id="sidebar">
         </div>
        </div>
    </body>
</html>
