<?xml version="1.0" encoding="UTF-8"?>
<root>
    <db>
        <host>localhost</host>
        <name>alenablog</name>
        <user>blog_user</user>
        <password>12345</password>
    </db>
    <post>
        <cut>#cut#</cut>
        <defaultCategory>Разное</defaultCategory>
    </post>
    <pagination>
        <posts>
            <limit>10</limit>
        </posts>
        <comments>
            <limit>25</limit>
        </comments>
    </pagination>
    <comments>
        <moderate>0</moderate>
    </comments>
</root>
