<?xml version="1.0" encoding="UTF-8"?>
<root>
    <domain>
        <name>Alena-dnd.ru</name>
    </domain>
    <db>
        <host>localhost</host>
        <name>alenablog</name>
        <user>blog_user</user>
        <password>12345</password>
    </db>
    <post>
        <cut>#cut#</cut>
        <videoPlaceHolder>@video@</videoPlaceHolder>
        <defaultCategory>Разное</defaultCategory>
    </post>
    <pagination>
        <posts>
            <limit>15</limit>
        </posts>
        <comments>
            <limit>25</limit>
        </comments>
    </pagination>
    <comments>
        <moderate>1</moderate>
    </comments>
    <user>
        <pusya>
            <sign>Та самая тян</sign>
            <email>pusya@test.com</email>
        </pusya>
    </user>
    <stage>2</stage>
</root>
